.weddingReservationsPage {
  --color-bg: #ffffff;
  --color-primary: #ffffff;
  --color-blue: #0d6efd;
  --color-input: #000000;
  --color-on-primary: #ffffff;
  --color-secondary: #3cb2bb;
  --color-outline: #666666;
  --color-surface-variant: #bebebe;
  --color-surface: #dfdfdf;
  --color-danger: #dc3545;
  --color-success: #198754;
  --transition: all 400ms ease;
}
.weddingReservationsPage #rsvp {
  width: 100%;
}
.weddingReservationsPage .dropdown-menu {
  width: 350px;
}
.weddingReservationsPage .dropdown-toggle {
  background-color: var(--color-surface-variant);
  color: var(--color-outline);
  font-size: larger;
  font-weight: 500;
}
.weddingReservationsPage .dropdown-filled {
  background-color: var(--color-blue);
  color: var(--color-primary);
}
.weddingReservationsPage #dropdown-basic-button {
  width: 350px;
  padding-right: 5px;
  border: solid var(--color-surface-variant) 2px;
}
.weddingReservationsPage .how__many {
  border: solid var(--color-surface-variant) 2px;
  background-color: var(--color-on-primary);
  width: 200px;
  display: inline-flex;
  column-gap: 20px;
  border-radius: 4rem;
  padding: 10px;
}
.weddingReservationsPage .container {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: white;
}
.weddingReservationsPage a:hover {
  cursor: pointer;
}
.weddingReservationsPage .fullPage {
  padding: 20px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
}
.weddingReservationsPage .form {
  align-items: center;
  background-color: var(--color-surface);
  border: solid var(--color-outline) 1px;
  padding: 15px;
  border-radius: 2rem;
  display: inline-flex;
  flex-direction: column;
  transition: var(--transition);
}
.weddingReservationsPage .wedding__container {
  align-items: center;
}
.weddingReservationsPage .reservation {
  height: 90%;
  object-fit: contain;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.weddingReservationsPage .btn {
  padding: 0.5rem 2rem;
}
.weddingReservationsPage .coming__or__not .btn {
  font-size: larger;
  width: 1px;
  flex-grow: 1;
}
.weddingReservationsPage .coming__or__not {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.weddingReservationsPage .our__image {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.weddingReservationsPage h1 {
  color: black;
}
.weddingReservationsPage h2 {
  color: black;
}
.weddingReservationsPage h1 {
  color: black;
}
.weddingReservationsPage input::placeholder {
  color: var(--color-outline);
  text-align: center;
}
.weddingReservationsPage input {
  width: 350px;
  font-size: x-large;
  padding-right: 5px;
  border: solid var(--color-surface-variant) 2px;
  color: var(--color-input);
  text-align: center;
  transition: var(--transition);
}
.weddingReservationsPage .errorInput {
  border: solid var(--color-danger) 2px;
}

/* Media queries (md)*/
@media screen and (max-width: 1024px) {
  .weddingReservationsPage .container {
    width: 80%;
  }
  .weddingReservationsPage input {
    width: 100%;
  }
  .weddingReservationsPage #dropdown-basic-button {
    width: 100%;
  }
  .weddingReservationsPage .dropdown-item {
    width: 100px;
  }
}
/* Media queries (sm)*/

@media screen and (max-width: 600px) {
  .weddingReservationsPage .container {
    width: 100%;
    padding: 0px;
  }
  .weddingReservationsPage input {
    width: 90%;
    font-size: large;
  }
  .weddingReservationsPage #dropdown-basic-button {
    width: 90%;
    font-size: large;
  }
  .weddingReservationsPage .fullPage {
    width: 100%;
    padding: 5px;
  }
  .weddingReservationsPage .form {
    width: 100%;
    padding: 10px;
    border-radius: 1rem;
    flex-direction: column;
  }
}
