.weddingReservationsPage {
  --color-bg: #ffffff;
  --color-primary: #ffffff;
  --color-input: #000000;
  --color-on-primary: #ffffff;
  --color-secondary: #3cb2bb;
  --color-outline: #666666;
  --color-surface-variant: #bebebe;
  --color-surface: #f3f3f3;
  --transition: all 400ms ease;
}
.weddingReservationsPage .how__many {
  background-color: var(--color-surface-variant);
}
/* Media queries (lg)*/
.weddingReservationsPage .container {
  width: 50%;
  background-color: white;
}
.weddingReservationsPage a:hover {
  cursor: pointer;
}
.weddingReservationsPage #rsvp {
  padding: 20px;
  height: 100vh;
}
.weddingReservationsPage .rsvp__form {
  background-color: var(--color-surface);
  border: solid var(--color-outline) 1px;
  padding: 15px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.weddingReservationsPage .wedding__container {
  align-items: center;
}
.weddingReservationsPage .reservation {
  height: 600px;
  object-fit: contain;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.weddingReservationsPage .reservation__and__rsvp__button {
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  /*column-gap: 20px;
  flex-direction: row;
  align-items: flex-start; */
}
.weddingReservationsPage .btn {
  width: 200px;
}
.weddingReservationsPage .our__image {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.weddingReservationsPage h1 {
  color: black;
}
.weddingReservationsPage h2 {
  color: black;
}
.weddingReservationsPage h1 {
  color: black;
}
.weddingReservationsPage input::placeholder {
  color: var(--color-outline);
}
.weddingReservationsPage input {
  width: 250;
  font-size: x-large;
  padding-right: 5px;
  border: solid var(--color-input) 1px;
  color: var(--color-input);
}
/* Media queries (md)*/
@media screen and (max-width: 1024px) {
  .weddingReservationsPage .container {
    width: 80%;
  }
  .coming__or__not {
    width: 100%;
    display: flex;
  }
  .coming__or__not .btn {
    flex: 1;
  }
  .weddingReservationsPage #rsvp {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: stretch;
  }
  .weddingReservationsPage input {
    font-size: x-large;
    width: 100%;
  }
}
/* Media queries (sm)*/

@media screen and (max-width: 600px) {
  .weddingReservationsPage .container {
    width: 100%;
  }
  .coming__or__not {
    width: 100%;
    display: flex;
  }
  .coming__or__not .btn {
    flex: 1;
  }
  .weddingReservationsPage #rsvp {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: stretch;
  }
  .weddingReservationsPage input {
    width: 100%;
  }
}
