#control-panel {
  --color-bg: #ffffff;
  --color-primary: #ffffff;
  --color-blue: #0d6efd;
  --color-input: #000000;
  --color-on-primary: #ffffff;
  --color-secondary: #3cb2bb;
  --color-outline: #666666;
  --color-surface-variant: #bebebe;
  --color-surface: #dfdfdf;
  --color-danger: #dc3545;
  --color-success: #198754;
  --transition: all 400ms ease;
}
#control-panel {
  background: var(--color-surface);
}
#control-panel .menu .btn {
  width: 1;
  flex: 1;
  margin-left: 5%;
  margin-right: 5%;
}
#control-panel .fullPage {
  height: 100vh;
}
