#control-panel {
  --color-bg: #ffffff;
  --color-primary: #ffffff;
  --color-blue: hsl(216, 98%, 52%);
  --color-input: #000000;
  --color-on-primary: #ffffff;
  --color-secondary: #3cb2bb;
  --color-outline: #666666;
  --color-surface-variant: #bebebe;
  --color-surface: #dfdfdf;
  --color-danger: #dc3545;
  --color-success: #198754;
  --transition: all 400ms ease;
}
#control-panel .list-btn {
  width: 1;
  flex: 1;
  margin-left: 5%;
  margin-right: 5%;
}
#control-panel .current-list-btn {
  background-color: var(--color-surface-variant);
  color: var(--color-input);
}

#control-panel .full-page {
  height: 100vh;
}
