.portfolio__container > h1 {
  text-align: center;
}
.project__image {
  width: 5rem;
}
.project__header__links {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.project__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.project__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.project__title {
  width: 25rem;
}
h3 {
  margin: auto;
}
.screenshot__cards {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.screenshot__cards {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.screenshot__card {
  position: relative;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
  width: 18rem;
  height: 39rem;
  padding-top: 1.5rem;
}
.screenshot__title,
.screenshot__subtitle {
  color: #012145;
}
.screenshot__title {
  font-weight: 600;
  font-size: medium;
  text-align: center;
}

.project__title h3 {
  font-weight: 400;
}
.project__title span {
  color: var(--color-primary);
  font-weight: 600;
}
.project__description span {
  color: var(--color-primary);
}
.screenshot__subtitle {
  text-align: center;
  font-size: small;
}
.screenshot__image__container {
  position: absolute;
  border-radius: 2rem;
  box-shadow: 0rem 0.2rem 1.2rem rgb(3, 34, 55);
  overflow: hidden;
  right: 0;
  left: 0;
  bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
  height: 30.4rem;
}
.screenshot__image {
  position: absolute;
  bottom: -0.7rem;
}
.project__description > h5 {
  text-align: justify;
}
/*====================Media queries (sm)====================*/
@media screen and (max-width: 600px) {
  .project__header__links {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .project__links {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
  }
  .rounded-lg {
    border-radius: 1rem;
  }
  .btn {
    width: 100%;
    text-align: center;
  }
  .project__title > h3 {
    font-size: large;
  }
  .project__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  .project__title {
    width: 100%;
  }
  .project__description h5 {
    text-align: justify;
    font-size: medium;
  }
  .project__description span {
    color: var(--color-primary);
  }
}
