.project__image {
  width: 5rem;
}
.project__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.project__title {
  width: 20rem;
}

.screenshot__cards {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
